@keyframes maskRightToLeft {
  0%{clip-path: inset(0 0 0 100% );}
  100%{clip-path: inset(0 0 0 0);}
}

@keyframes maskLeftToRight {
  0%{clip-path: inset(0 100% 0 0 );}
  100%{clip-path: inset(0 0 0 0);}
}

@keyframes maskTopToBottom {
  0%{clip-path: inset(100% 0 0 0); transform: translateY(10vh);}
  33%{clip-path: inset(100% 0 0 0); transform: translateY(10vh);}
  100%{clip-path: inset(0 0 0 0);transform: translateY(0vh)}
}

@keyframes scale100vh {
  0%{height: 0%;}
  100%{height: 100%;}
}

@keyframes moveInTop {
  0%{transform: translateY(-100vh);opacity: 0;}
  5%{transform: translateY(-100vh);opacity: 1;}
  100%{transform: translateY(0vh);opacity: 1;}
}
@keyframes moveInTopSmall {
  0%{transform: translateY(-100vh);}
  100%{transform: translateY(0vh);}
}

@keyframes moveInRight {
  0%{transform: translateX(-100vw);}
  100%{transform: translateX(0vw);}
}

@keyframes scaleTo100 {
  0%{transform: scale(0);}
  100%{transform: scale(1);}
}