@import "mixin";



.intro{
  height:100vh;
  width:100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .waveBox{
    position: absolute;
    right:0;
    bottom:calc(95vh + 6%);
    @include media(max-xs){
      right:8%;
    }
  }
  .titreBox{
    color: var(--mainColor);
    position: absolute;
    z-index: 1;
  }
}

.lineBox{
  position: absolute;
  width:100vw;
  height:100vh;
  display: flex;
  justify-content: space-around;
  .line{
    width:2px;
    height:0;
    background-color: var(--mainColor);
    @include media(max-xs){
      &:nth-of-type(4),&:nth-of-type(5),&:nth-of-type(3),&:nth-of-type(2){
        display: none;
      }
    }
    
    @for $i from 1 through 7 {
      $delay:calc((0.08 * #{$i}s));
      &:nth-of-type(#{$i}){
        animation: scale100vh 0.5s $delay forwards;
      }
    }

  }
  
}

.waveBox{
  //background-color: orange;
  height:24vh;
  top:70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transform: 
  translateX(calc(var(--scrollY) * 0.9px))
  translateY(calc(var(--scrollY) * 0.7px));

  img{
    height:3.5vw;
    position: relative;
    @include media(max-xs){
      height: 7vw;
      position: relative;
    }
    clip-path: inset(0 0 0 100% );

    @for $i from 1 through 5 {
      $delayWave:calc((0.08 * #{$i}s));
      &:nth-of-type(#{$i}){
        animation:maskRightToLeft 0.8s $delayWave forwards ;
      }
    }
    
  }
}


.titreBox{
  width:90%;
  max-width: 1200px;
  position: absolute;
  height:70vh;
  top:7vh;
  @include media(max-xs){
    height:56vh;
    top:15vh;
  }
  right:5%;
  .titreBox__word{
    position: absolute;
    display: block;
    animation: maskTopToBottom 1.5s forwards;
    font-size: clamp(75px,13vw,148px);
    line-height: clamp(75px,14vw,148px);
    &:nth-child(2){
      top:14vh;
      left:20vw;
      @include media(max-xs){
        top:9vh;
      }
    }
    &:nth-child(3){
      right: 0;
      bottom:0;
      //font-size: 150px;
      //line-height: 165px;
      @include media(max-xs){
        font-size: 75px;
      }
    }
  }
}


.gradBox{
  position: absolute;
  opacity: 0;
  p{
    font-size: 2vw;
    font-family: "Rakkas";
    color:#CACCFF;
    @include media(max-xs){
      font-size: 4vw;
      color: var(--mainColor)
    }
  }
  
  &--1{
    right:7.5vw;
    top:8vh;
    text-align: right;
    animation: moveInTop 1s 0s forwards;
  }
  &--2{
    left:8vw;
    top:50vh;
    animation: moveInTop 1s 0.4s forwards;
    @include media(max-xs){
      display: none;
    }
  }
  
}




.carteBox{
  position: relative;
  display: flex;
  justify-content: center;
  transform: translateY(-100vh);
  animation:moveInTop 0.6s 0.2s forwards ;
  
 
  img{
    width:45vw;
    border: solid 3px var(--mainColor);
    
    @include media(max-xs){
      width: 75vw;
      border: solid 2px var(--mainColor);
    }
   
    &:nth-of-type(1){
      position: absolute;
     
      @keyframes rotateCarte {
        0%{transform: rotate(0deg);margin-left: 0%;}
        100%{transform:  rotate(-10deg);margin-left: 10%;}
      }
      animation:rotateCarte 0.5s 0.5s forwards ;
      @include media(max-xs){
        margin-left: 5%;
      }
      transform: translateX(calc(var(--scrollY) * 1.25px)) translateY(calc(var(--scrollY) * 0.5px)) rotate(calc((var(--scrollY) * (-0.05deg)) + (-10deg)));
    }
    &:nth-of-type(2){
      // transform: translateX(calc(var(--scrollY) * 0.75px)) rotate(0deg);
      transform: translateX(calc(var(--scrollY) * 1.05px)) translateY(calc(var(--scrollY) * 0.5px)) rotate(calc((var(--scrollY) * (-0.03deg)) + (0deg)));;
    }
  }
}


.stemp{
  position: absolute;
  top:3vw;
  left:10vw;
  background-color: yellow;
  border-radius: 50%;
  width:30vw;
  height:30vw;
  transform: scale(0);
  animation:scaleTo100 0.5s 0.3s forwards ;
}

