@import "mixin";

body{
  width: 100vw;
  padding:0;
  margin:0;
  width:100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

html{
  width:100vw;
  max-width: 100vw;
  @include media(max-xs){
    overflow-x: hidden;
  }
}

section{
  width:100%;
}

.section{
  width: 100%;
  padding: 0 5vw;
  background-color: #fff;
  position: relative;
  @include media(max-xs){
    padding: 0;
  }
  .section__wrapper{
    position: relative;
  }
  &--full{
    max-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
}

.section__wrapper--split{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
  @include media(max-xs){
    display: block;
  }
}

.section__wrapper--flex{
  display: flex;

}
.wrapper--flex{
  display: flex;
  
}
:root{
  --mainColor:#1921E0;
  --scrollY:1;
}


*{
  box-sizing: border-box;
}

.lineBox--transparent{
  height:100% !important;
  opacity: 0.1;
  img{
    height: 100%;
  }
}

.link--source,
.link--line{
  //font-size: 16px;
  display: block;
  width: 200px;
  color: var(--mainColor);
  border-top: solid 2px var(--mainColor);
  //font-family: sans-serif;
  margin-top: 20px;
}

a{
  cursor: pointer;
  text-decoration: none;
}
