.trenner{ 
  width:100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 8vw;
  position: relative;
  z-index: 2;
  //transform: translateY(calc(var(--scrollY) * 0.1px));
  .button{
    margin-top: 50px;
  }
  h3{
    margin-bottom: 20px;
  }
  p{
    font-size: clamp(1.8rem, 3.9vw, 3.9vw); 
    line-height: clamp(2.5rem, 4.5vw, 4.5vw); 
    color:#fff;
    text-align: center;
    //font-family: sans-serif;
    font-weight: 100;
  }
  &--bleu{
    background-color: var(--mainColor);
    p{
      color:#fff
    }
  }
  &--yellow{
    background-color: yellow;
    p{
      color:var(--mainColor)
    }
  }
}